@font-face {
    font-family: 'Varela Round';
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
}

header.nav {
    text-align:justify;
    padding: 20px 10px;
}


.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.huuloc4399 {
    font-size: 120px;
}

html {
    background-image: url('https://kilala.vn/data/emagazine/images/vol45/hatsune-miku/hatsune-miku-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}

div {
    width: fit-content;
    margin: auto;
}

p.vl {
    word-wrap:normal;
}
/* Căn chỉnh phần menu và lựa chọn */
.menu-container {
    position: relative;
    display: inline-block;
}

.menu {
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* Ẩn phần lựa chọn mặc định */
.options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}
a {
    text-decoration: none; /* Bỏ gạch chân dưới liên kết */
    color: #ffffff; /* Màu xanh cho liên kết */
    font-size: 18px;
    margin: 10px;
}
nav{
a:hover {
    color: #FF6347; /* Đổi màu khi hover vào liên kết */
}

/* Tạo không gian cho các liên kết */
.link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: auto;
}
}
.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none; /* Ẩn icon trên desktop */
    position:absolute;
    top: 90px;
    right: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}



/* Thiết lập cho di động */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Hiện icon trên thiết bị di động */
    }

    nav ul {
        display: none; /* Ẩn menu mặc định */
        flex-direction: column; /* Sắp xếp các mục theo cột */
        width: 100%;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        text-align: right;
        padding: 15px;
    }

    nav ul.active {
        display: flex; /* Hiển thị menu khi người dùng bấm vào icon */
    }
}